= form_for @bank do |f|
  - if @bank.errors.any?
    #error_explanation
      h2 = "#{pluralize(@bank.errors.count, "error")} prohibited this bank from being saved:"
      ul
        - @bank.errors.full_messages.each do |message|
          li = message


  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :bik
    = f.text_field :bik
  .field
    = f.label :cor_acc
    = f.text_field :cor_acc
  .actions = f.submit
