= link_to 'Back to', contacts_path

h1 Listing banks

table class="table table-info table-hover table-striped"
  thead
    tr class="table-success"
      th Name Bank
      th BIK
      th KPP
      th Address
      th
      th

  tbody
    - @banks.each do |bank|
      tr
        td = bank.name
        td = bank.bik
        td = bank.cor_acc
        td = link_to 'Show', bank
        td = link_to 'Edit', edit_bank_path(bank)
        td = link_to 'Destroy', bank, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Bank', new_bank_path

