p#notice = notice

p 
  b Наименования банка 
  |#{@bank.name}
p Logo bank
p 
p 
  b БИК: 
  |#{@bank.bik}
p 
  b КПП: 
  |#{@bank.cor_acc}


=> link_to 'Edit', edit_bank_path(@bank)
'|
=< link_to 'Back', banks_path
