.main  
  .reg
    - if user_signed_in?
      h3 Добро пожаловать #{current_user.email}
      = link_to 'Выйти', destroy_user_session_path, :method => :delete, :class => 'btn btn-outline-danger'
      = link_to 'Личный кабинет', contacts_path, :class => 'btn btn-outline-success'
    - else
      = link_to 'Войдите под своей учетной записью',  new_user_session_path, :class => 'btn btn-outline-success'
      | или 
      = link_to 'Зарегистрируйтесь для использования сервиса', new_user_registration_path, :class => 'btn btn-outline-info'
  br/
  br/
  br/
  .todo
    ul
      li Таблица Данных
      li Шаблоны договоров
