= simple_form_for @contact do |f|
  = f.input :foo
  = f.input :name
  = f.input :inn
  = f.input :kpp
  = f.input :ogrn
  = f.input :legal_address
  = f.input :postal_address
  = f.input :contacts
  = f.input :other, as: :text
  = f.submit
