= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      h2 = "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      ul
        - @contact.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :foo
    = f.text_field :foo
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :inn
    = f.number_field :inn
  .field
    = f.label :kpp
    = f.number_field :kpp
  .field
    = f.label :ogrn
    = f.number_field :ogrn
  .field
    = f.label :legal_address
    = f.text_field :legal_address
  .field
    = f.label :postal_address
    = f.text_field :postal_address
  .field
    = f.label :contacts
    = f.text_field :contacts
  .field
    = f.label :other
    = f.text_field :other
  .actions = f.submit
