h1 Ваши контакты

center
  = link_to 'New Contact', new_contact_path, :class => "btn btn-outline-info"
br
br
br

table class="table table-info table-hover table-striped"
  thead
    tr class="table-success"
      th Foo
      th Name
      th Inn
      th Kpp
      th Ogrn
      th Legal address
      th Postal address
      th Contacts
      th Other
      th
      th
      th

  tbody
    - @contacts.each do |contact|
      - if contact.user_id == current_user.id
        tr
          td = contact.foo
          td = contact.name
          td = contact.inn
          td = contact.kpp
          td = contact.ogrn
          td = contact.legal_address
          td = contact.postal_address
          td = contact.contacts
          td =raw contact.other
          td = link_to 'Show', contact
          td = link_to 'Edit', edit_contact_path(contact)
          td = link_to 'Destroy', contact, data: { confirm: 'Are you sure?' }, method: :delete


br


                   
br
= link_to 'New Bank', new_bank_path          
