- if @contact.user_id == current_user.id
  p#notice = notice
  .container
    .row
      .col-md-7  
      
        p
          strong Форма собственности: 
          = @contact.foo
        p
          strong Название организации: 
          = @contact.name
        p
          strong ИНН: 
          = @contact.inn
        p
          strong КПП: 
          = @contact.kpp
        p
          strong ОГРН: 
          = @contact.ogrn
        p
          strong Юридический адрес: 
          = @contact.legal_address
        p
          strong Почтовый адрес: 
          = @contact.postal_address
        p
          strong Контакты: 
          = @contact.contacts
      div class="col-md-5 col-sm-5 notes"
        p
          strong Заметки: <br>
          =raw @contact.other
    


    br
  
  
    div class="col-7"
      table class="table table-info table-hover border table-striped"
        thead class="thead-primary"
          tr
            th Рассчетный счет
            th БИК
            th Корр. счет
            th БАНК
        tbody
          - @contact.payments.each do |item|
            tr
              td = item.number
              td = item.bik
              td = item.corr
              td = item.bank
              td = link_to 'Изменить', [:edit, item.contact, item]
              td = link_to 'Удалить', [item.contact, item], method: :delete, data: { confirm: 'Вы уверены?'}

    br

      = link_to 'Добавить расчетный счет', new_contact_payment_path(@contact)
      br
      br

    
      => link_to 'Edit', edit_contact_path(@contact)
      '|
      =< link_to 'Back', contacts_path
- else
  h2 Доступ закрыт