= simple_form_for(@truckingindustry) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :order
    = f.input :price_buy
    = f.input :price_sale
    = f.input :supplier
    = f.input :buyer
    = f.input :add_weight
    = f.input :rm_weight
    = f.input :autocarrier
    = f.input :numberauto
    = f.input :priceofroad
   

  .form-actions
    = f.button :submit
