h2 Грузоперевозки
center
  = link_to 'Добавыить запись', new_truckingindustry_path, :class => 'btn btn-outline-success'
br
br
br
table class="table table-info table-hover table-striped"
  thead 
    tr class="table-success"
      th Товар
      th Цена закупки
      th Цена продажи
      th Поставщик
      th Покупатель
      th Приход
      th Расход
      th Перевозчик
      th Номер авто
      th Цена перевозки, т/км
      th Стоимость перевозки, р.
      th
      th
      th

  tbody
    - @truckingindustries.each do |truckingindustry|
      tr
        td = truckingindustry.order
        td = truckingindustry.price_buy
        td = truckingindustry.price_sale
        td = truckingindustry.supplier
        td = truckingindustry.buyer
        td = truckingindustry.add_weight
        td = truckingindustry.rm_weight
        td = truckingindustry.autocarrier
        td = truckingindustry.numberauto
        td = truckingindustry.priceofroad
        td = truckingindustry.coastofroad
        td = link_to 'Show', truckingindustry
        td = link_to 'Edit', edit_truckingindustry_path(truckingindustry)
        td = link_to 'Destroy', truckingindustry, data: { confirm: 'Are you sure?' }, method: :delete

br


