p#notice = notice

p
  strong Order:
  = @truckingindustry.order
p
  strong Price-buy:
  = @truckingindustry.price_buy
p
  strong Price-sale:
  = @truckingindustry.price_sale
p
  strong Supplier:
  = @truckingindustry.supplier
p
  strong Buyer:
  = @truckingindustry.buyer
p
  strong Autocarrier:
  = @truckingindustry.autocarrier
p
  strong Numberauto:
  = @truckingindustry.numberauto
p
  strong Priceofroad:
  = @truckingindustry.priceofroad
p
  strong Coastofroad:
  = @truckingindustry.coastofroad

=> link_to 'Edit', edit_truckingindustry_path(@truckingindustry)
'|
=< link_to 'Back', truckingindustries_path
