// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add_contact {
    background-color: aqua;
    display: inline-block; 
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.back {
   float: right;
}
.btn_back {
    border: 2px solid red;
    &:hover {
        color: aliceblue;
    }   
}
.btn-outline-info {
    border: 2px solid blue;
    &:hover {
        color: aliceblue;
    }
}