// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
   
    text-align: center;
}
.reg {
    border: 1px solid lightgray;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    text-align: center;
   
    
    
    .btn-outline-success{
         border: 2px solid green;
    }
     .btn-outline-danger{
         border: 2px solid red;
         margin-right: 5px;
    }
     .btn-outline-info{
         border: 2px solid blue;
         margin-left: 5px;
    }
}