<!DOCTYPE html>
<html>
  <head>
    <title>Work</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header class="row">

  <div class="col-4"></div>
  <div class="col-4"><center><h1>Шаблонизатор</h1></center></div>
  <div class="col-4 alert alert-info">
    <% if user_signed_in? %>
    <p> Добро пожаловать <%= current_user.email %></p>
    <p><%= link_to "Выйти", destroy_user_session_path %></p>
  
    <% else %>
    <p></p>
    <% end %>
  </div>
</header>
    <hr>


<% if user_signed_in? %> 
<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Шаблонизатор</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">   
<%= tabs_tag do |tab| %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <%= link_to 'Офис', "/office", :class => 'nav-link' %>
    <li class="nav-item">
      <%= link_to 'Грузоперевозки', truckingindustries_path, :class => 'nav-link' %>
    <li class="nav-item">
      <%= link_to 'Контакты', contacts_path, :class => 'nav-link' %>
  </ul>
<% end %> 
</div>
</nav>
<% end %>
<p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
